pkgbase = gotify-server-bin
	pkgdesc = A simple server for sending and receiving messages
	pkgver = 2.9.1
	pkgrel = 1
	url = https://github.com/gotify/server
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = MIT
	depends = glibc
	provides = gotify-server
	conflicts = gotify-server
	backup = etc/gotify/config.yml
	source = https://raw.githubusercontent.com/gotify/server/v2.9.1/config.example.yml
	source = config.patch
	source = tmpfiles.conf
	source = sysusers.conf
	source = gotify-server.service
	sha256sums = 7d7992f1b5a2ef5b331817402fe4f54f8aedc0de168d65735bf16c3cade90db6
	sha256sums = 7d095eb7c7317ad90f1f2da321bea2b1f5540212447dbdeeab384ed003bf3c35
	sha256sums = e09a6bcb2bbc1d8d28ec21c86cef260a42a93650b13bd82f59cfc0e3838a3c66
	sha256sums = 150a84f2f89d70c147cc3a2dbddb469f262ed2e8b6d3ffcb74eccb49dfdb2a24
	sha256sums = 8c3832004ed6f46e01ab69c993773da19b50a45862354165ed065bf3d2147b92
	source_x86_64 = gotify-linux-amd64-2.9.1.zip::https://github.com/gotify/server/releases/download/v2.9.1/gotify-linux-amd64.zip
	sha256sums_x86_64 = 34707b68f6e2b1be69458a7974e9d0e1acbfaa7a95d7349eed9219c9f215c4b3
	source_i686 = gotify-linux-386-2.9.1.zip::https://github.com/gotify/server/releases/download/v2.9.1/gotify-linux-386.zip
	sha256sums_i686 = 1f0ee4c1aaaf477e37ac9d582f67a445e4d8cc79cd6cfbb984bea85906437ebc
	source_armv7h = gotify-linux-arm-7-2.9.1.zip::https://github.com/gotify/server/releases/download/v2.9.1/gotify-linux-arm-7.zip
	sha256sums_armv7h = 1f8128ca89e45da5cc321160786a6094cba648b0a36f95686d0880e0734d3f3c
	source_aarch64 = gotify-linux-arm64-2.9.1.zip::https://github.com/gotify/server/releases/download/v2.9.1/gotify-linux-arm64.zip
	sha256sums_aarch64 = f8c16cec664d59033e1588c766b3ef45d5c7c39bb995ca6deba298cd2b1db268

pkgname = gotify-server-bin
